---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Steam Link Generator" />
    <meta property="og:description" content="Create shareable links that instantly open Steam with just a click. No more manual copy-pasting in the browser!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://steamlink.xyz" />
    <!-- <meta property="og:image" content="https://yourwebsite.com/path/to/image.jpg" /> -->
    <meta property="og:site_name" content="Steam Link Generator" />
    <meta property="og:locale" content="en_US" />
    <title>{title}</title>


</head>
	<body class="bg-gray-900 text-gray-300 flex flex-col items-center">
		<slot />
        <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
code {
    font-size: 0.875rem; /* This is equivalent to 14px */
}

</style>
